<h1>Welcome to <%= link_to "Browsify", root_path %></h1>
<p><%= link_to "Search", "#" %> products from over 90,000 stores</p>

<div class="container">
<%= link_to "Arts & Photography", "#" %>
<%= link_to "Books & Ebooks", "#" %>
<%= link_to "Cars", "#" %>
<%= link_to "Clothing", "#" %>
<%= link_to "Electronics", "#" %>
<%= link_to "Food & Drinks", "#" %>
<%= link_to "Health & Beauty", "#" %>
<%= link_to "Home & Kitchen", "#" %>
<%= link_to "Products", "#" %>


          <%= yield %>
</div>